.footer {
  &-caption {
    font-size: x-large;
    font-weight: bold;
    color: #05A8AA;
    margin: 5px;
  }

  &-description {
    font-size: medium;
    font-weight: normal;
    width: 20rem;
    margin: 5px;
  }

  &-social-media {
    margin: 20px 0;

    &-item {
      margin: 3px 5px;
      text-decoration: none;

      border-radius: 50px;
      padding: 10px;

      background-color: #05A8AA;

      &-icon {
        color: black;
      }

      &:hover {
        background-color: lightgray;
      }
    }
  }
}
